<!DOCTYPE html>
<html>
    <head>
        <title>Random Word HW</title>
    </head>
    <body>
        <h2>Random Word (Attempt # {{ request.session.counter }})</h2>
        <h1><font color="red">{{ random_word }}</font></h1>
        <form action="/generate" method="post">
            {% csrf_token %}
            <input type="submit" name="submit" value="GENERATE">
        </form>
        <form action="/reset" method="post">
            {% csrf_token %}
            <input type="submit" name="submit" value="RESET">
        </form>
    </body>
</html>