body {
    text-align: center;
    font-size: 200%;
}
input {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 170, 0);
    text-align: center;
    color: white;
    font-size: 90%;
}
button {
    background-color: rgb(231, 170, 0);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: none;
}


