<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Enter Email Address:</h1>
        <form action="/success" method="post">
            Email: <input type="text" name="address">
            <input type="submit" value="submit">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>