<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Log In:</h1>
        <form action="/success" method="post">
            Email: <input type="text" name="logemail">
            Password: <input type="text" name="logpassword">
            <input type="submit" value="LOG IN">
        </form>
        <h1>Register:</h1>
        <form action="/register" method="post">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="text" name="email">
            Password: <input type="text" name="password">
            Confirm Password: <input type="text" name="confirm_password">
            <input type="submit" value="REGISTER">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>