<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointments</title>
</head>

<body>
    <h1>Welcome, {{ user.first }}!</h1>
    <h2>Add new course</h2>
    <form action='/create' method='POST'>
        {% csrf_token %}
        Name: <input type="text" name="course_name" value="{{ course.course_name }}"><br> 
        Description: <textarea name="description"></textarea><br>
        <button>ADD</button>
    </form>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
            <th>Favorite</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.created_at }}</td>
                {% if not user.id == course.creator_id %}
                    <td>None</td>
                {% else %}
                    <td><a href="/delete/{{ course.id }}">remove</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Favorite Courses: </h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>UNFavorite</th>
        </tr>
        {% for favorite in favorite %}
            <tr>
                <td>{{ favorite.course_name }}</td>
                <td>{{ favorite.description }}</td>          
                <td><a href='/unfavorite/{{ favorite.id }}'>&#9760;</a></td>
            </tr>
        {% endfor %}
    </table>

    <form action="/logout" method="post">
        {% csrf_token %}
        <button>LOG OUT</button>
    </form>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</body>

</html>