<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD A TRIP</title>
</head>
<body>
    <h1>Hello, {{ user.name }}!</h1>
    <form action="/logout">
        {% csrf_token %}
        <button>LOG OUT</button>
    </form>
    <h2>Add a Trip:</h2>
    <form action="/add_trip" method="POST">
        {% csrf_token %}
        Destination: <input type="text" name="destination"><br><br>
        Description: <br><textarea name="description"></textarea><br><br>
        Travel Date From: <input type="date" name="trip_start"><br><br>
        Travel Date To: <input type="date" name="trip_end"><br><br>
        <button>ADD TRIP</button>
    </form>
    <form action="/success">
        {% csrf_token %}
        <button>HOME</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>