<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOW TRIP</title>
</head>
<body>
    <h1>Hello, {{ user.name }}!</h1>
    <form action="/logout" method="post">
        {% csrf_token %}
        <button>LOG OUT</button>
    </form>
    <h2>Trip Destination: <font color="green">{{ trip.destination }}</font></h2>
    <h4>Planned By: <font color="green">{{ trip.creator.name }}</font></h4>
    <h4>Description: <font color="green">{{ trip.description }}</font></h4>
    <h4>Travel Date From: <font color="green">{{ trip.trip_start }}</font></h4>
    <h4>Travel Date To: <font color="green">{{ trip.trip_end }}</font></h4>
    <br>
    <h3>Other users joining the trip:</h3>
    {% for user in trip.favorites.all %}
        <ul><font color="green">
            <li><h4>{{ user.name }}</h4></li>
        </font></ul>
    {% endfor %}
    <form action="/success">
        {% csrf_token %}
        <button>HOME</button>
    </form>
</body>
</html>