<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOW ITEM</title>
</head>
<body>
    <h1>Hello, {{ user.name }}!</h1>
    <form action="/logout" method="post">
        {% csrf_token %}
        <button>LOG OUT</button>
    </form>
    <h2>Item Name: <font color="green">{{ item.item_name }}</font></h2>
    <h3>Users who added this item under their wish list: </h3>
    {% for user in item.wishlist.all %}
        <ul><font color="green">
            <li><h3>{{ user.name }}</h3></li>
        </font></ul>
    {% endfor %}
    <form action="/success">
        {% csrf_token %}
        <button>GO BACK</button>
    </form>
</body>
</html>

