<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT</title>
</head>
<body>
    <h1>Hello, {{ user.first }} {{ user.last }}!</h1>
    <h2>Edit task #{{ appointment.id }} here: </h2>
    <form action="/update/{{ appointment.id }}" method="post">
        {% csrf_token %}
        Task: <input type="text" name="apptask" value="{{ appointment.apptask }}"><br>
        <label>Status: <select name='appstat'>
                <option value='Pending'>Pending</option>
                <option value='Done'>Done</option></select></label><br>
        Date: <input type="date" name="appdate" value="{{ appointment.appdate|date:"Y-m-d" }}"><br>
        Time: <input type="time" name="apptime" value="{{ appointment.apptime|time:"%H:%M %p" }}"><br>
        <!-- TIME NEEDS WORK -->
        <button>UPDATE TASK</button><br><br>
    </form>
    <form action="/success">
        <button>GO BACK</button>
    </form>
</body>
</html>