<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD ITEM</title>
</head>
<body>
    <h1>Hello, {{ user.name }}!</h1>
    <form action="/logout" method="post">
        {% csrf_token %}
        <button>LOG OUT</button>
    </form>
    <h2>Create a New Wish List Item:</h2>
    <form action="/create_item" method="post">
        {% csrf_token %}
        Item/Product: <input type="text" name="item_name"><br><br>
        <button>ADD</button>
    </form>
    <form action="/success">
        {% csrf_token %}
        <button>GO BACK</button>
    </form>
</body>
</html>