<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <td>PANDA #1</td>
                <td>        
                <form action="/view">
                    <button>VIEW</button>
                </form>
                <form action="/edit">
                    <button>EDIT</button>
                </form>
                <form action="delete">
                    <button>DELETE</button>
                </form>
                </td>
            </tr>
            <tr>
                <td>PANDA #2</td>
                <td>        
                <form action="/view">
                    <button>VIEW</button>
                </form>
                <form action="/edit">
                    <button>EDIT</button>
                </form>
                <form action="delete">
                    <button>DELETE</button>
                </form>
                </td>
            </tr>
        </table>

            
        </form>
    </body>
</html>